# IPTV provider (isti podaci kao za prijavu u TiviMate / get.php)
IPTV_BASE_URL=http://tvoj-provider.com:80
IPTV_USERNAME=tvoj_username
IPTV_PASSWORD=tvoja_lozinka

# Server (opcionalno)
# PORT=8765
# HOST=0.0.0.0
